<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Welcome to post property page

<!--<form th:action="@{/post/savepost}" method="post" th:object="${postObj}">
    <div class="form-group">
        <label class="control-label" for="postDate"> PostDate </label>
        <input id="postDate" class="form-control" th:field="*{postDate}"
               required autofocus="autofocus" />
    </div>

    <div class="form-group">
        <label class="control-label" for="propertyArea"> PostDate </label>
        <input id="propertyArea" class="form-control" th:field="*{property.area}"
               required autofocus="autofocus" />
    </div>

    <div class="form-group">
        <label class="control-label" for="propertyBedroomNumber"> PostDate </label>
        <input id="propertyBedroomNumber" class="form-control" th:field="*{property.bedroomNumber}"
               required autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label class="control-label" for="propertyBathroomNumber"> PostDate </label>
        <input id="propertyBathroomNumber" class="form-control" th:field="*{property.bathroomNumber}"
               required autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label class="control-label" for="propertyType"> PostDate </label>
        <input id="propertyType" class="form-control" th:field="*{property.type}"
               required autofocus="autofocus" />
    </div>-->

    <!--<div class="form-group">
        <label class="control-label" for="postDate"> PostDate </label>
        <input id="postDate" class="form-control" th:object="*{postDate}"
               required autofocus="autofocus" />
    </div>-->

    <!--<div class="form-group">
        <label class="control-label" for="moveInDate"> Move In Date </label> <input
            id="moveInDate" type="date" class="form-control" th:field="*{moveInDate}"
            required autofocus="autofocus" />
    </div>-->


    <!--<input type="hidden" id="propertyId" class="form-control" th:field="*{propertyId}"
           autofocus="autofocus" />-->


    <!--<div class="form-group">
        <label class="control-label" for="phone_number"> Phone Number </label> <input
            id="phone_number" type="number" class="form-control" th:field="*{phone_number}"
            required autofocus="autofocus"/>
    </div>

    <div class="form-group">
        <label class="control-label" for="animal"> Animal </label> <input
            id="animal" type="text" class="form-control" th:field="*{animal}"
            required autofocus="autofocus"/>
    </div>-->

    <!--<table>
        <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Relationship</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${houseObj}">
            <td><input type="number" th:field="*{bedroomNumber}" /></td>
            <td><input type="number" th:field="*{bathroomNumber}" /></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>
        </tbody>
    </table>-->


  <!--  <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>-->
</body>
</html>